<nav class="navbar navbar-expand bg-primary-subtle fixed-top">
   <div class="container">
      <a class="navbar-brand" routerLink="/">App</a>

      @if (accountService.currentUser()) {
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- *ngIf="accontService.currentUser$ | async" -->
            <ng-container>
               <li class="nav-item">
                  <a
                     class="nav-link"
                     routerLink="/members"
                     routerLinkActive="active"
                     >Matches</a
                  >
               </li>

               <li class="nav-item">
                  <a
                     class="nav-link"
                     routerLink="/lists"
                     routerLinkActive="active"
                     >Lists</a
                  >
               </li>

               <li class="nav-item">
                  <a
                     class="nav-link"
                     routerLink="/messages"
                     routerLinkActive="active"
                     >Messages</a
                  >
               </li>

               <!-- *appHasRole="['Admin', 'Moderator']" -->
               <!-- <li class="nav-item">
                  <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
               </li> -->
            </ng-container>
            <!-- 
            <li class="nav-item">
               <a class="nav-link" routerLink="/errors" routerLinkActive="active">error</a>
            </li> -->
         </ul>
      }

      @if (accountService.currentUser()) {
         <div class="nav-item dropdown" dropdown>
            <!-- src="{{user.photoUrl || './assets/user.png'}}" -->
            <img src="{{ './assets/user.png' }}" alt="user photo" />

            <!-- {{user.knownAs | titlecase}} -->
            <a
               class="dropdown-toggle text-decoration-none text-dark ms-1"
               role="button"
               dropdownToggle
            >
               Welcome {{ model.userName | titlecase }}
            </a>

            <ul class="dropdown-menu" *dropdownMenu>
               <li>
                  <a class="dropdown-item" routerLink="/member/edit"
                     >Edit Profile</a
                  >
               </li>

               <div class="dropdown-divider"></div>

               <li>
                  <a class="dropdown-item" role="button" (click)="logout()"
                     >Logout</a
                  >
               </li>
            </ul>
         </div>
      }

      <!-- #loginForm="ngForm" la transforma en una template form -->
      @if (!accountService.currentUser()) {
         <form
            class="d-flex"
            #loginForm="ngForm"
            (submit)="login()"
            autocomplete="off"
         >
            <input
               class="form-control me-2"
               type="text"
               placeholder="Username"
               name="userName"
               [(ngModel)]="model.userName"
            />

            <input
               class="form-control me-2"
               type="text"
               placeholder="Password"
               name="password"
               [(ngModel)]="model.password"
            />

            <button class="btn btn-outline-success" type="submit">Login</button>
         </form>
      }
   </div>
</nav>
